@model IEnumerable<BlueSense.Models.Notificacao>

@{
    ViewData["Title"] = "Notificações";
}

<h1>Notificações Enviadas</h1>
<p>Notificações enviadas exclusivamente para autoridades</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mensagem)
            </th>
            <th>
                Data e Hora
            </th>
            <th>
                Autoridade
            </th>
            <th>
                Protocolo da análise
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mensagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioAutoridade.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeituraSensor.Protocolo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
